@(versions: Seq[(com.mongodb.DBObject, Option[String], Option[Long])], message: Option[com.mongodb.DBObject], total: Long)

@main("c:geo status supervision") {

<h1>Current versions</h1>
<table>
  <tr>
    <th>Kind</th>
    <th>Version name</th>
    <th>Version code</th>
    <th><span title="Estimation based on recent status requests">Users online (estimated)</span></th>
    <th>% (estimated)</th>
  </tr>
  @for((version, url, users) <- versions) {
    <tr>
      <td>@url match {
            case Some(u) => {
              <a href="@u">@version.get("kind")</a>
            }
            case None    => {
              @version.get("kind")
            }
          }
      </td>
      <td>@version.get("name")</td>
      <td>@version.get("code") match {
          case n if n == 0 => { }
          case n           => { @n.toString }
      }</td>
      <td>@(users.map(_.toString).getOrElse("?"))</td>
      <td>@(users.map(u => "%.1f%%".format(100.0 * u / total)).getOrElse("?"))</td>
    </tr>
  }
  <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>@(if (total == 0) "" else ("Total: " + total.toString))</th>
      <th></th>
  </tr>
</table>

@message.map { m =>
  <br class="large"/>
  <h1>Current message</h1>
  <table>
    <tr><th>Message</th><th>Message id</th><th>Icon</th><th>URL</th></tr>
    <tr>
      <td>@m.get("message")</td>
      <td>@m.get("message_id")</td>
      <td>@{m.get("icon") match {
	case null =>
	case name: String =>
	  val icon: String = "icons/" + name + ".png"
	  <img src={routes.Assets.at(icon).toString} title={name} alt={name}/>
	}}</td>
      <td>@{m.get("url") match {
	case null =>
	case url: String => <a href={url}>{url}</a>
      }}</td>
    </tr>
  </table>
}
}
