@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
	<link rel="shortcut icon" href="//cgeo.org/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="//cgeo.org/content/css/styles.css" type="text/css" media="all" />
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>

  <div id="container">
    <div id="page">
      <div id="header">
      	<div id="logo">
          <a href="//cgeo.org" target="_self"><img src="//cgeo.org/content/images/logo.png" alt="c:geo" title="c:geo" border="0" /></a>
          <div id="social">
            <span>Follow us:</span>
            <a id="f" href="http://www.facebook.com/android.geocaching" target="_blank" title="Facebook"></a>
            <a id="t" href="http://twitter.com/android_gc" target="_blank" title="Twitter"></a>
            <div id="fblike">
              <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=143097602435960&amp;xfbml=1"></script><fb:like href="http://www.facebook.com/android.geocaching" send="false" layout="button_count" width="450" show_faces="false" colorscheme="dark" font="trebuchet ms"></fb:like>
            </div>
          </div>
        </div>
        <div id="description">
          <div id="title">
            <span>c:geo</span>
            - Android GeoCaching
          </div>
          <div id="text">
            <strong>c:geo</strong> is simple yet powerful unofficial geocaching client for Android devices. In contrast with other similar applications, <strong>c:geo</strong> doesn't require web browser nor exports. You can just go geocaching with your phone and without any home preparation or worries. Of course, you can go without paying - it's free.
          </div>
          <div id="sub">
            Try it! Use the barcode, search for "cgeo" on Android Market or download and install .apk file manually.
          </div>
          <div id="actions">
            <div id="button"><a href="https://play.google.com/store/apps/details?id=cgeo.geocaching" target="_blank" title="download c:geo ..."></a></div>
            <div id="qr"></div>
          </div>
        </div>
        <div id="menu">
          <ul>
            <li><a href="http://send2.cgeo.org" target="_self">Send 2 c:geo<span>Easy transfer caches to your device ...</span></a></li>
            <li><a href="http://faq.cgeo.org" target="_self">F.A.Q.<span>Frequently Asked Questions by Users.</span></a></li>
            <li><a href="https://github.com/cgeo/cgeo/issues" target="_blank">Report Bug / Issue<span>You found one of them? Please let us know!</span></a></li>
            <li><a href="//cgeo.org/contact.html" target="_self">Contact<span>For questions, wishes and support.</span></a></li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
      <div id="content">
        @content
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <div id="boxes">
        <div id="get">
          <span>Get c:geo:</span>
          <ul>
            <li><a href="https://play.google.com/store/apps/details?id=cgeo.geocaching" target="_blank">Android Market</a></li>
            <li><a href="//cgeo.org/cgeo.apk" target="_blank">APK Download</a></li>
            <li><a href="https://github.com/cgeo/cgeo" target="_blank">Source</a></li>
            <li><a href="//cgeo.org/nightly.html" target="_self">Nightly-Builds</a></li>
          </ul>
        </div>
        <div id="support">
          <span>Support us:</span>
          <a id="d" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=FMLNN8GXZKJEE" target="_blank" title="Donate (PayPal)"></a>
        </div>
        <div id="links">
          <span>Shortcuts:</span>
          <ul>
            <li><a href="http://www.facebook.com/android.geocaching" target="_blank">Facebook</a></li>
            <li><a href="http://twitter.com/android_gc" target="_blank">Twitter</a></li>
            <li><a href="//cgeo.org/contact.html" target="_self">Contact</a></li>
            <li><a href="//cgeo.org/media.html" target="_self">Media</a></li>
          </ul>
        </div>
      </div>
      <div id="copyright">
      	<div id="copyright_text">
          Copyright &copy; 2011-2014 - c:geo (<a href="//cgeo.org" target="_blank">//cgeo.org</a>) | Original design by <a href="http://www.eisbehr.de" target="_blank">Eisbehr.de</a>
        </div>
      </div>
    </div>
  </div>
    </body>
</html>
